<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-bm-pocr-android"
        version="1.0.0">

  <name>BMOcrAndroid</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/bmpocrandroid.js" target="js/bmpocrandroid.js"/>

  <js-module src="www/bmpocrandroid.js" name="BMOcrAndroid">
    <clobbers target="bmpocrandroid" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Plugin">
        <param name="android-package" value="jp.bluememe.plugin.ocr.Plugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-feature android:name="android.hardware.camera" android:required="false" />
      <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    </config-file>
    <hook type="after_prepare" src="src/android/hooks/after_prepare.js"/>
    <source-file src="src/android/Plugin.java" target-dir="src/jp/bluememe/plugin/ocr/"/>
    <source-file src="src/android/plugin/PluginManager.java" target-dir="src/plugin/"/>
    <source-file src="src/android/plugin/Permission.java" target-dir="src/plugin/"/>
    <framework src="src/android/yourfile.gradle" custom="true" type="gradleReference" />
    <source-file framework="true" src="src/android/libs/DriverCardOCRLibrary.aar" target-dir="libs"/>
  </platform>

</plugin>